:root {
    --background-color: #FFE787;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}





/* nav */

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: black;
    z-index: 1;
}

.bg-color {
    background-color: var(--background-color);
}

.navbar_menu {
    display: flex;
}

.navbar_menu_item {
    padding: 12px 12px;
    margin: 0 4px;
    cursor: pointer;
}

.navbar_menu_item.active {
    border-radius: 5px;
}

.navbar_menu_item:hover {
    background-color: blanchedalmond;
    border-radius: 4px;
}

.navbar_logo {
    font-size: 36px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.navbar_toggle-btn {
    position: absolute;
    top: 14px;
    right: 32px;
    font-size: 24px;
    display: none;
}


/* home */

.home {
    background-color: var(--background-color);
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home_profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 25px;
}

.contact-btn {
    font-size: 24px;
    font-weight: 600;
    margin: 24px;
    padding: 8px 12px;
    border: 3px solid white;
    border-radius: 10px;
}

.section {
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}


/* skills */



.skills-container {
    font-size: 80px;
    color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills_icon {
    width: 200px;
    height: 200px;
}

.skills_icon>div {
    height: 30px;
    line-height: 100%;
    font-size: 25px;
}


/* works */

.work_project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    width: 280px;
    height: 250px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_image {
    max-width: 100%;
    max-height: 100%;
}

.project_description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all 1s;
}

.project:hover .project_description {
    opacity: 0.7;
}

.project_description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: white;
}


/* contact */

#contact {
    background: var(--background-color);
}

#contact i {
    font-size: 40px;
}

#contact i:hover {
    transform: scale(1.5);
}

@media screen and (max-width:768px) {
    .navbar_toggle-btn {
        display: block;
    }


    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
}